* {
  box-sizing: border-box;
}
@font-face {
  font-family: "MuseoCyrl-900";
  src: url("../fonts/Museo_Cyrl_900.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto", sans-serif;
  color: #202020;
}

.header {
  background-color: #f1f1f1;
  padding: 22px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.header-container {
  max-width: 1137px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  color: #202020;
  font-size: 14px;
  font-weight: 400px;
  text-decoration: none;
  margin: 0 11px;
}
.logo {
  text-transform: uppercase;
  font-weight: 700px;
}
.login {
  text-decoration: none;
  color: #202020;
  font-weight: 400px;
}
/* Главная секция */
.hero {
  padding: 62px 0 71px;
  margin-top: 60px;
}
.hero-container {
  max-width: 1137px;
  margin: auto;
  display: flex;
  align-items: center;
}
.hero-text {
  margin-left: 122px;
}
.author {
  display: block;
  font-size: 24px;
  margin-bottom: 22px;
}
.title {
  font-family: "MuseoCyrl-900";
  font-size: 54px;
  margin-top: 0;
  margin-bottom: 15px;
}
.subtitle {
  display: block;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 48px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  max-width: 490px;
}
.info-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  flex-basis: 49%;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.price-tag {
  margin-right: 64px;
  font-weight: 400;
  font-size: 55px;
}
.favourites {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.button {
  font-style: 16px;
  font-weight: 700;
  padding: 22px 59px;
  border-radius: 5px;
  border: 2px solid #f89c02;
}
.button-primary {
  color: #ffffff;
  font-size: 16px;
  background-color: #f89c02;
  margin-right: 20px;
}
.button-outline {
  color: #f89c02;
  text-decoration: none;
  border: 2px solid #f89c02;
}
/* О книге */
.about {
  padding: 60px 0 97px 0;
  background-color: #f1f1f1;
}
.about-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  max-width: 1137px;
  margin: auto;
}
.about-book {
  flex-shrink: 0;
  margin-right: 130px;
  max-width: 454px;
}
.title-name {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #202020;
  margin-top: 0;
}
.about-description {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.about-author {
  border-radius: 10px;
  box-shadow: 0px 1px 120px 0 rgba(161, 161, 161, 0.08);
  border: solid 1px #f3f3f3;
  background-color: #fff;
  padding: 68px 53px 68px 53px;
  max-width: 552px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.author-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 21px;
}
.author-name {
  margin: 0;
  margin-bottom: 14px;
}
.author-link {
  text-decoration: none;
  color: inherit;
}
.about-author-text {
  margin-top: 27px;
}
/* Читатели */
.readers {
  padding: 87px 0 0 0;
  background-color: #fff;
}
.readers-container {
  margin: auto;
  max-width: 1170px;
}
.readers-photos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 57px;
  margin-bottom: 109px;
}
.reader-photo {
  width: 165px;
  height: 165px;
  margin-right: 30px;
  margin-bottom: 30px;
}
/* Подвал сайта */
.footer {
  background-color: #f1f1f1;
  padding-top: 60px;
}
.footer-sections {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-title {
  margin-bottom: 32px;
}
.footer-list {
  list-style: none;
  padding: 0;
}
.footer-item {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.requisites {
  margin-right: 175px;
}
.information {
  margin-right: 175px;
}
.footer-link {
  text-decoration: none;
  color: inherit;
}
/* Элементы "Скидка" и "Стрелка" */
.sale-block {
  width: 135px;
  height: 41px;
  background-color: #c93535;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 12px 17px;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 18px;
  font-weight: 500;
}
.img-block {
  position: relative;
}
.return {
  position: fixed;
  right: 113px;
  bottom: 90px;
  width: 13px;
  height: 16px;
  padding: 17px 18px 17px 19px;
  border-radius: 4px;
  box-shadow: 0px 1px 120px 0 rgba(161, 161, 161, 0.08);
  border: solid 1px #eee;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Настройки для разных экранов */
@media (max-width: 1200px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-sections {
    max-width: 960px;
  }
  .img-block {
    min-width: 390px;
    max-width: 390px;
  }
  .hero-text {
    margin-left: 30px;
  }
  .about-book {
    margin-right: 52px;
  }
  .reader-photo {
    width: 139px;
    height: 139px;
    margin: auto;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .readers-photos {
    margin-bottom: 94px;
  }
  .requisites,
  .information {
    margin-right: 130px;
  }
}
@media (max-width: 991px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-sections {
    max-width: 761px;
  }
  .nav {
    display: none;
  }
  .img-block {
    min-width: 298px;
    max-width: 298px;
  }
  .author {
    font-size: 22px;
    margin-bottom: 13px;
  }
  .title {
    font-size: 46px;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 24px;
    margin-bottom: 48px;
  }
  .info {
    margin-bottom: 39px;
  }
  .price {
    margin-bottom: 39px;
  }
  .button {
    padding: 20px 40px;
  }
  .button-primary {
    margin-right: 14px;
  }
  .title-name {
    font-size: 24px;
    margin-bottom: 29px;
  }
  .about-container {
    flex-wrap: wrap;
  }
  .about-book {
    max-width: 100%;
    margin-bottom: 62px;
  }
  .reader-photo {
    width: 165px;
    height: 165px;
    margin: 0;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .reader-photo:nth-child(9) {
    display: none;
  }
  .reader-photo:nth-child(10) {
    display: none;
  }
  .reader-photo:nth-child(11) {
    display: none;
  }
  .reader-photo:nth-child(12) {
    display: none;
  }
  .readers-photos {
    margin-bottom: 66px;
  }
  .requisites {
    margin-right: 65px;
  }
  .information {
    margin-right: 65px;
  }
}
@media (max-width: 768px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-sections {
    max-width: 560px;
  }
  .hero {
    padding-top: 40px;
  }
  .hero-container {
    flex-wrap: wrap;
  }
  .img-block {
    min-width: 100%;
    margin-bottom: 60px;
  }
  .hero-image {
    width: 100%;
  }
  .author {
    margin-bottom: 13px;
  }
  .title {
    margin-bottom: 10px;
  }
  .subtitle {
    margin-bottom: 28px;
  }
  .reader-photo {
    width: 165px;
    height: 165px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .reader-photo:nth-child(3) {
    margin: 0;
  }
  .reader-photo:nth-child(6) {
    margin: 0;
  }
  .reader-photo:nth-child(7) {
    display: none;
  }
  .reader-photo:nth-child(8) {
    display: none;
  }
  .reader-photo:nth-child(9) {
    display: none;
  }
  .reader-photo:nth-child(10) {
    display: none;
  }
  .reader-photo:nth-child(11) {
    display: none;
  }
  .reader-photo:nth-child(12) {
    display: none;
  }
  .requisites {
    margin-right: 40px;
  }
  .information {
    margin-bottom: 60px;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .header-container,
  .hero-container,
  .about-container,
  .readers-container,
  .footer-sections {
    max-width: 95%;
  }
  .author {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .title {
    font-size: 36px;
    margin-bottom: 19px;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 31px;
  }
  .info-text {
    flex-basis: 100%;
    margin-bottom: 19px;
  }
  .info {
    flex-wrap: wrap;
    margin-bottom: 17px;
  }
  .button {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 0;
  }
  .button-primary {
    margin-bottom: 20px;
    padding: 31px 175px;
  }
  .button-outline {
    padding: 31px 184px;
  }
  .about-book {
    margin-bottom: 62px;
  }
  .about-author {
    padding: 54px 44px;
    max-width: 480px;
    max-width: 480px;
  }
  .about-author-text {
    font-size: 14px;
    line-height: 1.43;
  }
  .author-avatar {
    width: 64px;
    height: 64px;
  }
  .reader-photo {
    width: 143px;
    height: 143px;
    margin-right: 24px;
    margin-bottom: 21px;
  }
  .reader-photo:nth-child(3) {
    margin: 0;
  }
  .reader-photo:nth-child(6) {
    margin: 0;
  }
  .reader-photo:nth-child(7) {
    display: none;
  }
  .reader-photo:nth-child(8) {
    display: none;
  }
  .reader-photo:nth-child(9) {
    display: none;
  }
  .reader-photo:nth-child(10) {
    display: none;
  }
  .reader-photo:nth-child(11) {
    display: none;
  }
  .reader-photo:nth-child(12) {
    display: none;
  }
  .requisites,
  .information,
  .contacts {
    margin: 0;
    margin-bottom: 36px;

    flex-basis: 100%;
  }
  .footer-title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 32px;
  }
}
